#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
npm-debug.log
coverage
tests
typings/*
/compiled
*.ngFactory.ts
/aot
/app
/demo
/index.html
/ngx-breadcrumb.metadata.json
/ngx-breadcrumb.ts
/ngx-breadcrumb.js
/ngx-breadcrumb.js.map
/systemjs.config.js
/tsconfig.json
/tsconfig-aot.json

#################
## JetBrains
#################
.idea
.project
.settings
.idea/*
*.iml

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store
